.navbar-toggler[b-lkrt48phgx] {
    background-color: rgba(255, 255, 255, 0.6);
}

.top-row[b-lkrt48phgx] {
    height: 3.5rem;
    background-color: #47b8c9;
}

.navbar-brand[b-lkrt48phgx] {
    font-size: 1.1rem;
}

.oi[b-lkrt48phgx] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-lkrt48phgx] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-lkrt48phgx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-lkrt48phgx] {
        padding-bottom: 14rem;
    }

    .nav-item[b-lkrt48phgx]  a {
        color: #a653c9;
        border-radius: 5px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-lkrt48phgx]  a.active {
    background-color: rgba(3,255,255,0.80);
    color: white;
}

.nav-item[b-lkrt48phgx]  a:hover {
    background-color: rgba(3,255,255,0.25);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-lkrt48phgx] {
        display: none;
    }

    .collapse[b-lkrt48phgx] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
